@{
    ViewData["Title"] = "Generator planów";
}

<link href="/css/SwimmingPlan/Index.css" rel="stylesheet" />


    <header class="header">
        <h1>Zacznij swój trening pływacki!</h1>
        <p>Skorzystaj z naszego generatora, aby stworzyć plan treningowy, który odpowiada Twoim potrzebom.</p>
        <hr mt-3/>
    </header>

    <div class="container-card-one">
        <!-- Obraz -->
        <div class="image">
        <img src="images/swimming-generate.jpg" alt="Generowanie planu">
        </div>

        <!-- Treść -->
        <div class="content-card-two">
        <h2>Twój plan oparty na wiedzy ekspertów!</h2>
        <p>Każdy plan treningowy korzysta z naszej rozbudowanej bazy ćwiczeń, które zostały stworzone przez doświadczonych trenerów pływania. Dzięki temu masz pewność, że Twoje treningi są skuteczne i dostosowane do Twoich celów oraz poziomu zaawansowania.</p>
           <a href="@Url.Action("GeneratePlan")" class="btn ">Wygeneruj plan</a>
        </div>
    </div>








