@model SplashTrainer.Models.SwimmingExercise


<div class="details-container">
    <h5 class="fw-bold text-dark">Nazwa ćwiczenia:</h5>
    <p class="text-body">@Model.Name</p>
    <h5 class="fw-bold text-dark mt-3">Opis:</h5>
    <p class="text-body">@Model.Description</p>
</div>

<div class="text-end mt-3">
    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Zamknij</button>
</div>
